{
  "Parameters": {
    "StabilityApiKey": "sk-your-stability-api-key-here"
  },
  "ImageWorkshopMcpFunction": {
    "NODE_ENV": "development",
    "LOCAL_API_BASE_URL": "http://host.docker.internal:3000"
  },
  "ToolTxt2imgStableDiffusionFunction": {
    "STABILITY_MODEL": "stable-diffusion-xl-1024-v1-0"
  },
  "TextRegionSelectorFunction": {
    "HUGGINGFACE_API_KEY": "hf_your_token_here"
  },
  "ZeroShotRegionSelectorFunction": {
    "SAGEMAKER_ENDPOINT_NAME": "your-sagemaker-endpoint-name",
    "SAGEMAKER_REGION": "us-east-1"
  }
}
